@charset "utf-8";
/* CSS Document */
@import url(../../../../fonts.googleapis.com/earlyaccess/nanumgothic.css);

a {
	color:#595959;
}

a:hover {
	color:#222222;
}




#SITEMAP_IMG{
	width:100%;
	margin:0 auto;
	height:285px;
	background:url(../images/sitemap_bg.jpg) repeat-x;

}

#SITEMAP {
	width:980px;
	margin:0 auto;
}




/* SITEMAP 영역 시작 */

#sitemap_board {
	background:url(../images/manual_info1.jpg) repeat-x;
	width:100%;
	margin:0 auto;
}

#sitemapl_container {
	width:980px;
	height:100%;
	margin:0 auto;
}

#sitemap_title {
	width:880px;
	padding-top:75px;
	padding-bottom:40px;
	font-family:Nanum Gothic, sans-serif;
	font-size:25px;
	color:#3b6a33;
	margin:0 auto;
	text-align:left;
}

#sitemap_area {
	width:880px;
	height:400px;
	margin:0 auto;
	padding-right: 
}

#sitemap_Wline{
	width:100%;
	height:1px;
	background:#c3cab1;
	margin-bottom:15px; 
}

.sitemap_box{
	width:100%;
}

.Smap_box1{
	width:280px;
	margin-right:20px;
	float:left;
	height:180px;
	margin-bottom:30px;
}

.Smap_box2{
	width:280px;
	float:left;
	height:180px;
	margin-bottom:30px;
}

.Smap_menu{
	width:280px;
	background:url(../images/sitemap_menubg.png) no-repeat;
	float:left;
	color:#ffffff;
	font-family:Nanum Gothic, sans-serif;
	font-size:15px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

.Smap_Smenu{
	width:278px;
	border-bottom:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	float:left;
	font-family:Nanum Gothic, sans-serif;
	font-size:13px;
	text-align:center;
	padding-top:13px;
	padding-bottom:13px;
}
